body {
    background-color: rgba(128, 128, 128, 0.178);
}
.card-border {
    border-radius: 30px;
}
#spinner {
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(10px);
    justify-content: center;
    align-items: center;
}
#show-all {
    display: none;
}
