body {
    background-color: #6de3e7;
}
.card-border {
    border-radius: 30px;
}
.img-border {
    border-radius: 40px;
}
.border- #spinner {
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(10px);
    justify-content: center;
    align-items: center;
}
